In [2]:
import pandas as pd
import numpy as np
import os

popn_data_17 = pd.read_excel("Resources/2017_Popn_Estimates.xls",skiprows=4,sheet_name="MYE2 - All")
popn_data_17.head()

,Code,Name,Geography1,All ages,0,1,2,3,4,5,...,81,82,83,84,85,86,87,88,89,90
0,K02000001,UNITED KINGDOM,Country,66040229.0,763201.0,789285.0,790680.0,799076.0,818499.0,844567.0,...,355285.0,329024.0,296722.0,272804.0,254442.0,231256.0,204422.0,175064.0,147643.0,579776.0
1,K03000001,GREAT BRITAIN,Country,64169395.0,739515.0,764552.0,766029.0,774358.0,793286.0,818505.0,...,346497.0,320911.0,289442.0,265920.0,248306.0,225760.0,199669.0,170824.0,144157.0,566733.0
2,K04000001,ENGLAND AND WALES,Country,58744595.0,685962.0,708660.0,709239.0,716997.0,734776.0,758504.0,...,316336.0,293080.0,264304.0,243370.0,227177.0,207325.0,183829.0,157178.0,133116.0,525008.0
3,E92000001,ENGLAND,Country,55619430.0,653467.0,674807.0,675045.0,682356.0,699250.0,721708.0,...,297652.0,275694.0,248408.0,228736.0,214145.0,195523.0,173368.0,148227.0,125549.0,495244.0
4,E12000001,NORTH EAST,Region,2644727.0,28036.0,28959.0,28863.0,29691.0,30547.0,31551.0,...,15153.0,14452.0,12825.0,11738.0,10746.0,9869.0,8479.0,6978.0,5775.0,21972.0

In [3]:
popn_data_17.shape

(443, 95)

In [4]:
popn_data_17.dropna(inplace=True)
popn_data_17.shape

(440, 95)

In [22]:
def age_aggregator(df,list_of_age_ranges):
    """ Function to sum age columns in dataframe
    
    Arguments:
    df -- the pandas dataframe (data from UK datasent)
    list_of_age_ranges -- a list of tupples specifying the age ranges
    """
    new_df = pd.DataFrame()
    new_df.loc[:, "Name"] = df["Name"].copy()
    for tup in list_of_age_ranges:
        col_name = f"{tup[0]} - {tup[1]} yrs"
        print(f"Calculating total age for {col_name}")
        col_list = list(range(tup[0],tup[1]))
        try:
            df_subset = df[col_list].copy()
            df_subset_sum = df_subset.sum(axis=1)
            new_df.loc[:, col_name] = df_subset_sum.values
        except KeyError:
            print(f"one or more of the following columns in the list {col_list} does not exist.")
    return new_df

In [23]:
list_of_age_ranges = [(0,15),(16,30),(31,45),(46,55),(56,65),(66,90),(1000,1200)]

In [24]:
df_2017 = age_aggregator(popn_data_17,list_of_age_ranges)

Calculating total age for 0 - 15 yrs
Calculating total age for 16 - 30 yrs
Calculating total age for 31 - 45 yrs
Calculating total age for 46 - 55 yrs
Calculating total age for 56 - 65 yrs
Calculating total age for 66 - 90 yrs
Calculating total age for 1000 - 1200 yrs
one or more of the following columns in the list [1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199] does not exist.

In [19]:
df_2017

,Name,0 - 15 yrs,16 - 30 yrs,31 - 45 yrs,46 - 55 yrs,56 - 65 yrs,66 - 90 yrs
0,UNITED KINGDOM,11807573.0,11755673.0,11877485.0,8347254.0,6889348.0,10736691.0
1,GREAT BRITAIN,11439153.0,11422034.0,11538884.0,8111361.0,6695851.0,10464777.0
2,ENGLAND AND WALES,10574999.0,10446425.0,10592289.0,7393138.0,6067534.0,9553954.0
3,ENGLAND,10048365.0,9888889.0,10091893.0,7001149.0,5716735.0,8976649.0
4,NORTH EAST,444585.0,479545.0,432046.0,336358.0,304728.0,463257.0
5,County Durham,84894.0,92724.0,82605.0,69407.0,61717.0,96549.0
6,Darlington,18995.0,16350.0,18176.0,14073.0,11989.0,19019.0
7,Hartlepool,16798.0,15967.0,14866.0,12149.0,10681.0,15856.0
8,Middlesbrough,27613.0,29940.0,22750.0,16014.0,14766.0,20327.0
9,Northumberland,48848.0,44540.0,48064.0,42766.0,42831.0,68452.0
10,Redcar and Cleveland,23129.0,21592.0,20459.0,17793.0,16214.0,27091.0
11,Stockton-on-Tees,36728.0,33549.0,33871.0,25216.0,21924.0,31488.0
12,Tyne and Wear (Met County),187580.0,224883.0,191255.0,138940.0,124606.0,184475.0
13,Gateshead,33351.0,35136.0,36362.0,25629.0,22266.0,35329.0
14,Newcastle upon Tyne,48792.0,84952.0,48371.0,30273.0,26740.0,38049.0
15,North Tyneside,34589.0,30016.0,37337.0,27274.0,24081.0,36306.0
16,South Tyneside,24981.0,24361.0,24386.0,19893.0,18533.0,26655.0
17,Sunderland,45867.0,50418.0,44799.0,35871.0,32986.0,48136.0
18,NORTH WEST,1304433.0,1304422.0,1245293.0,923212.0,772657.0,1202164.0
19,Blackburn with Darwen,32615.0,26780.0,27854.0,17916.0,14294.0,19155.0
20,Blackpool,24232.0,23128.0,21793.0,19125.0,15791.0,25681.0
21,Cheshire East,63465.0,52654.0,60826.0,53286.0,44341.0,76541.0
22,Cheshire West and Chester,56679.0,54023.0,54767.0,45400.0,38878.0,64245.0
23,Halton,24061.0,20793.0,22131.0,16152.0,14740.0,20469.0
24,Warrington,37389.0,33206.0,37745.0,29308.0,22379.0,34596.0
25,Cumbria,77092.0,71927.0,74093.0,68818.0,63353.0,106565.0
26,Allerdale,14999.0,13943.0,14253.0,13744.0,12269.0,20926.0
27,Barrow-in-Furness,11034.0,10785.0,10269.0,9354.0,7817.0,12992.0
28,Carlisle,18150.0,16981.0,17589.0,14265.0,13078.0,20518.0
29,Copeland,10991.0,10164.0,10501.0,9540.0,8876.0,13769.0
...,...,...,...,...,...,...,...
410,Glasgow City,93919.0,148810.0,125953.0,74294.0,60672.0,75089.0
411,Highland,37044.0,34123.0,37839.0,32495.0,30686.0,45837.0
412,Inverclyde,11959.0,12823.0,12250.0,11248.0,10203.0,14633.0
413,Midlothian,16311.0,14249.0,15867.0,12018.0,10431.0,15114.0
414,Moray,15331.0,15059.0,15648.0,13124.0,11550.0,18132.0
415,Na h-Eileanan Siar,4109.0,3393.0,4027.0,3719.0,3561.0,6046.0
416,North Ayrshire,21495.0,21717.0,20008.0,18706.0,17397.0,26883.0
417,North Lanarkshire,59230.0,57890.0,61151.0,47485.0,38851.0,51904.0
418,Orkney Islands,3320.0,3160.0,3327.0,3107.0,2923.0,4593.0
419,Perth and Kinross,22872.0,22772.0,23740.0,20729.0,18929.0,30863.0
420,Renfrewshire,28225.0,30167.0,29851.0,24836.0,21376.0,29751.0
421,Scottish Borders,17843.0,15457.0,16307.0,16494.0,15536.0,25081.0
422,Shetland Islands,3986.0,3575.0,3899.0,3104.0,2801.0,4029.0
423,South Ayrshire,16616.0,16323.0,16123.0,15145.0,15138.0,24954.0
424,South Lanarkshire,51849.0,50177.0,54688.0,44852.0,40003.0,54231.0
425,Stirling,14441.0,19420.0,14305.0,12788.0,10644.0,16012.0
426,West Dunbartonshire,14908.0,15061.0,14854.0,12596.0,11290.0,14730.0
427,West Lothian,33360.0,29582.0,33547.0,25710.0,19874.0,26443.0
428,NORTHERN IRELAND,368420.0,333639.0,338601.0,235893.0,193497.0,271914.0
429,Antrim and Newtownabbey,28013.0,24228.0,26078.0,18234.0,14564.0,20839.0
430,Ards and North Down,28372.0,23963.0,26920.0,20998.0,18712.0,29711.0
431,"Armagh City, Banbridge and Craigavon",44796.0,36491.0,39755.0,26541.0,20843.0,29085.0
432,Belfast,63918.0,72867.0,64034.0,39133.0,33102.0,44491.0
433,Causeway Coast and Glens,26684.0,24921.0,24351.0,19096.0,15746.0,22946.0
434,Derry City and Strabane,30851.0,27828.0,26770.0,19794.0,15063.0,19861.0
435,Fermanagh and Omagh,23635.0,19247.0,20966.0,14478.0,12667.0,17009.0
436,Lisburn and Castlereagh,26997.0,23208.0,26181.0,19066.0,15291.0,22087.0
437,Mid and East Antrim,24937.0,22790.0,23330.0,18770.0,15488.0,23143.0
438,Mid Ulster,32044.0,26670.0,28286.0,17290.0,13687.0,18430.0
439,"Newry, Mourne and Down",38173.0,31426.0,31930.0,22493.0,18334.0,24312.0