In [68]:
import pandas as pd
import numpy as np
import os

popn_data_17 = pd.read_excel("Resources/2017_Popn_Estimates.xls",skiprows=4,sheet_name="MYE2 - All")
popn_data_17.head()

,Code,Name,Geography1,All ages,0,1,2,3,4,5,...,81,82,83,84,85,86,87,88,89,90
0,K02000001,UNITED KINGDOM,Country,66040229.0,763201.0,789285.0,790680.0,799076.0,818499.0,844567.0,...,355285.0,329024.0,296722.0,272804.0,254442.0,231256.0,204422.0,175064.0,147643.0,579776.0
1,K03000001,GREAT BRITAIN,Country,64169395.0,739515.0,764552.0,766029.0,774358.0,793286.0,818505.0,...,346497.0,320911.0,289442.0,265920.0,248306.0,225760.0,199669.0,170824.0,144157.0,566733.0
2,K04000001,ENGLAND AND WALES,Country,58744595.0,685962.0,708660.0,709239.0,716997.0,734776.0,758504.0,...,316336.0,293080.0,264304.0,243370.0,227177.0,207325.0,183829.0,157178.0,133116.0,525008.0
3,E92000001,ENGLAND,Country,55619430.0,653467.0,674807.0,675045.0,682356.0,699250.0,721708.0,...,297652.0,275694.0,248408.0,228736.0,214145.0,195523.0,173368.0,148227.0,125549.0,495244.0
4,E12000001,NORTH EAST,Region,2644727.0,28036.0,28959.0,28863.0,29691.0,30547.0,31551.0,...,15153.0,14452.0,12825.0,11738.0,10746.0,9869.0,8479.0,6978.0,5775.0,21972.0

In [69]:
popn_data_17.shape

(443, 95)

In [70]:
popn_data_17.dropna(inplace=True)
popn_data_17.shape

(440, 95)

In [71]:
def age_aggregator(df,list_of_age_ranges):
    
    new_df.loc[:, "Name"] = df["Name"].copy()
    for tup in list_of_age_ranges:
        col_name = f"{tup[0]} - {tup[1]} yrs"
        print(f"Calculating total age for {col_name}")
        col_list = list(range(tup[0],tup[1]))
        df_subset = df[col_list].copy()
        df_subset_sum = df_subset.sum(axis=1)
        new_df.loc[:, col_name] = df_subset_sum.values
    return new_df

In [72]:
list_of_age_ranges = [(0,15),(16,30),(31,45),(46,55),(56,65),(66,90)]

In [73]:
df_2017 = age_aggregator(popn_data_17,list_of_age_ranges)

Calculating total age for 0 - 15 yrs
Calculating total age for 16 - 30 yrs
Calculating total age for 31 - 45 yrs
Calculating total age for 46 - 55 yrs
Calculating total age for 56 - 65 yrs
Calculating total age for 66 - 90 yrs

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [74]:
new_df

0                                                 UNITED KINGDOM
1                                                  GREAT BRITAIN
2                                              ENGLAND AND WALES
3                                                        ENGLAND
4                                                     NORTH EAST
5                                                  County Durham
6                                                     Darlington
7                                                     Hartlepool
8                                                  Middlesbrough
9                                                 Northumberland
10                                          Redcar and Cleveland
11                                              Stockton-on-Tees
12                                    Tyne and Wear (Met County)
13                                                     Gateshead
14                                           Newcastle upon Tyne
15                                                North Tyneside
16                                                South Tyneside
17                                                    Sunderland
18                                                    NORTH WEST
19                                         Blackburn with Darwen
20                                                     Blackpool
21                                                 Cheshire East
22                                     Cheshire West and Chester
23                                                        Halton
24                                                    Warrington
25                                                       Cumbria
26                                                     Allerdale
27                                             Barrow-in-Furness
28                                                      Carlisle
29                                                      Copeland
                                     ...
416                                               North Ayrshire
417                                            North Lanarkshire
418                                               Orkney Islands
419                                            Perth and Kinross
420                                                 Renfrewshire
421                                             Scottish Borders
422                                             Shetland Islands
423                                               South Ayrshire
424                                            South Lanarkshire
425                                                     Stirling
426                                          West Dunbartonshire
427                                                 West Lothian
428                                             NORTHERN IRELAND
429                                      Antrim and Newtownabbey
430                                          Ards and North Down
431                         Armagh City, Banbridge and Craigavon
432                                                      Belfast
433                                     Causeway Coast and Glens
434                                      Derry City and Strabane
435                                          Fermanagh and Omagh
436                                      Lisburn and Castlereagh
437                                          Mid and East Antrim
438                                                   Mid Ulster
439                                       Newry, Mourne and Down
0 - 15 yrs     0      11807573.0
1      11439153.0
2      105...
16 - 30 yrs    0      11755673.0
1      11422034.0
2      104...
31 - 45 yrs    0      11877485.0
1      11538884.0
2      105...
46 - 55 yrs    0      8347254.0
1      8111361.0
2      73931...
56 - 65 yrs    0      6889348.0
1      6695851.0
2      60675...
66 - 90 yrs    0      10736691.0
1      10464777.0
2       95...
Name: Name, Length: 446, dtype: object

In [23]:
popn_data_17[list(range(0,16))].sum(axis=1)

0      12505357.0
1      12114673.0
2      11197231.0
3      10637971.0
4        471260.0
5         89899.0
6         20144.0
7         17786.0
8         29130.0
9         52204.0
10        24532.0
11        38819.0
12       198746.0
13        35388.0
14        51630.0
15        36658.0
16        26481.0
17        48589.0
18      1382104.0
19        34662.0
20        25700.0
21        67428.0
22        60100.0
23        25475.0
24        39813.0
25        82180.0
26        16025.0
27        11754.0
28        19183.0
29        11653.0
          ...
413       17229.0
414       16362.0
415        4367.0
416       22901.0
417       63011.0
418        3545.0
419       24453.0
420       30039.0
421       19026.0
422        4233.0
423       17716.0
424       55151.0
425       15425.0
426       15790.0
427       35443.0
428      390684.0
429       29718.0
430       30117.0
431       47372.0
432       67512.0
433       28461.0
434       32813.0
435       25138.0
436       28596.0
437       26524.0
438       33946.0
439       40487.0
440           0.0
441           0.0
442           0.0
Length: 443, dtype: float64

In [15]:
for row in popn_data_17:
    if popn_data_17.column() == "0" or popn_data_17.column() == "1":
        pop_0_to_1 = popn_data_17["0"] + popn_data_17["1"]
    else:
        continue
pop_0_to_1

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
bins = [0,15,25,35,45,55,65,75,100]
popn_data_17["0-15yrs"] = popn_data_17.loc(popn_data_17[:].sum() + popn_data_17[]